.home{
    padding: 2rem;
}

.home h3{
    font-style: italic;
    color: #000;
}

.home span{
    color: khaki;
}

.home-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home-content .about-me, .home-content .my-pic{
    flex-basis: 50%;
}

.about-me p{
    color: #000;
    font-style: italic;
    text-align: left;
}

.home img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.social-icons{
    display: flex;

}

.social-icons div{
    margin: 1.5%;
    transition: .5s;
    font-size: 25px;
}

.social-icons div a:hover{
    color: khaki;
}

@media screen and (max-width: 690px) {
    .home-content{
        justify-content: center;
    }

    .home-content .about-me, .home-content .my-pic{
        flex-basis: 100%;
        margin: 10px;
    }
}