.contact_page {
    padding: 2rem 2rem 0.5rem;
}
.contact_page h4{
    text-align: left;
}

.contact_page ul{
    text-align: left;
}

.contact_page ul li{
    margin-top: 10px;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.location h3{
    display: flex;
    align-items: center;
}

iframe{
    margin-bottom: 20px;
}

small{
    font-size: 12px;
}