.contact_page {
    padding: 1rem .5rem .5rem;
}
.contact_page h4, .contact_page ul{
    font-style: italic;
}

.contact_page ul{
    text-align: left;
}

.contact_page h3{
    text-align: left;
}

.contact_page ul li{
    margin-top: 10px;
    margin-left: -5px;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.location h3{
    display: flex;
    align-items: center;
}

iframe{
    margin-bottom: 20px;
}

small{
    font-size: 12px;
}